#beneficios {
    width: 100%;
    max-width: 800px;
    margin: 32px auto 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 20px;

    p {
        line-height: 2rem;
    }
}

.titulo {
    font-size: 24px;
    margin-bottom: 15px;
}