@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis */
:root {
  --fonte-titulo: 'Anton', sans-serif;
  --fonte-texto: 'Roboto', sans-serif;
  --branco: #ffffff;
  --azul: #3B87B2;
  --texto: #333333;
  --cinza-escuro: #9CA0B0;
  --amarelo: #F0BC22;
  --vermelho: #D22828;
}

/*Banner Home Header*/

.banner-home {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-banner {
  width: 100%;
  height: auto;
  display: block;
}

.conteudo-banner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 70px;
  color: var(--branco);
  max-width: 700px;
}

.tagline {
  font-family: var(--fonte-texto);
  font-weight: 900;
  font-size: 20px;
  color: var(--texto);
}

.titulo {
  font-family: var(--fonte-titulo);
  font-size: 84px;
  line-height: 1.1;
  margin-bottom: 10px;
  max-width: 100%;
}

.subtitulo {
  font-family: var(--fonte-texto);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 90px;
  max-width: 75%;
}

.btn-banner {
  background-color: var(--azul);
  color: var(--branco);
  font-family: var(--fonte-texto);
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
}

/* Banner Secundário */
.banner-secundario {
  color: var(--texto);
  padding: 80px;
}

/* Lado Esquerdo */
.tagline-clarion {
  font-family: var(--fonte-titulo);
  font-size: 36px;
  color: var(--azul);
}

.titulo-secundario {
  font-family: var(--fonte-titulo);
  font-size: 36px;
}

.topico img {
  width: 40px;
  height: 40px;
}

.topico p {
  font-family: var(--fonte-texto);
  font-size: 16px;
  max-width: 55%;
}

.topico-titulo {
  font-weight: 800;
  display: block;
}

/* Lado Direito (Card Evento) */
.card-evento {
  background: var(--branco);
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(156, 160, 176, 0.1);
  max-width: 320px;
}

.evento-titulo {
  font-family: var(--fonte-texto);
  font-weight: 500;
  font-size: 18px;
}

.evento-data,
.evento-participantes {
  font-family: var(--fonte-texto);
  font-size: 14px;
  color: var(--cinza-escuro);
}
