.card-body {
    background-color: #24313A;
}

.card {
    position: relative;
    width: 18rem;
}

.card-hover-info {
    opacity: 0;
    font-size: 1rem;
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10;
    position: relative;
    min-width: 14rem;
    max-width: 18rem;
}

.card:hover .card-hover-info {
    opacity: 1;
    transform: translateX(0);
}

/* Setinha */
.card-hover-info::before {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: -0.5rem;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid rgba(255, 255, 255, 0.95);
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel {
    scrollbar-width: none;
    /* Firefox */
}

.rating {
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
    user-select: none;
}

.rating .star {
    color: #ccc;
}

.rating .star.selected {
    color: var(--cor-destaque);
}