.filters {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px auto 16px;
    align-items: end;

    .filter {
        display: flex;
        gap: 4px;
        flex-direction: column;
        min-width: 90px;
        
        select {
            padding: 6px;
            cursor: pointer;
            border-radius: 4px;
        }
    }
}

@media screen and (max-width: 525px) {
    .filters {
        flex-direction: column;

        .filter, .btn-default {
            max-width: unset;
            width: 100%;
        }
    }
}