.filters {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 16px auto;
    align-items: end;

    .filter {
        display: flex;
        gap: 4px;
        flex-direction: column;
        min-width: 90px;
        
        select {
            padding: 6px;
            cursor: pointer;
            border-radius: 4px;
        }
    }

    .btn-filter {
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid white;
        color: #FFF;
        max-width: 80px;
        width: 100%;
        font-weight: bold;
        cursor: pointer;

        &:is(:hover, :active, :focus) {
            background-color: var(--cor-secundaria);
            border: 2px solid var(--cor-secundaria);
        }
    }
}

@media screen and (max-width: 525px) {
    .filters {
        flex-direction: column;

        .filter, .btn-filter {
            max-width: unset;
            width: 100%;
        }
    }
}