@import url(style.css);


@keyframes neonGlow {
    from {
        opacity: 0.2;
        transform: scale(1);
    }
    to {
        opacity: 0.4;
        transform: scale(1.1);
    }
}

.rodapé {
    background: var(--cor-principal);
    border-top: 4px solid var(--cor-destaque); /* Borda neon verde */
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    box-shadow: 0px -5px 15px var(--cor-destaque);
    }

.rodapé_logo {
    width: 140px;
    height: 110px;
}

.rodapé__titulo {
    font-size: 28px;
    font-weight: bold;
    color: var(--cor-secundaria);
    text-transform: uppercase;
    text-shadow: 0 0 15px var(--cor-secundaria);
    margin-bottom: 20px;
}

.lista-rodapé {
    list-style: none;
    padding: 0;
    margin: 20px;
    min-width: 250px;
}

.lista-rodapé__titulo {
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-destaque);
    text-transform: uppercase;
    margin-bottom: 15px;
    text-shadow: 0 0 10px var(--cor-destaque);
}

.lista-rodapé__item {
    display: flex;
    justify-content: center; 
    gap: 10px;

}

.lista-rodapé__item:hover {
    transform: scale(1.1);
}

.lista-rodapé__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    margin-left: 10px;
    text-shadow: 0 0 10px var(--cor-secundaria);
    margin-top: 15px;
    display: flexbox;
    
}

.lista-rodapé__link:hover {
    color: var(--cor-secundaria);
    background: #111;
    padding: 6px 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px var(--cor-secundaria);
}

.lista-rodapé__item img {
    width: 24px;
    height: 50px;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    display: flex;
    
}

