
.container_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    background: var(--cor-principal);
}

.container_header_home {
    min-height: 100vh;
    background: url(../img/Imagem.png) no-repeat center center/cover;  
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 24%);

    .navbar_header {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        background: rgba(0, 0, 0, 0.5);
        justify-content: space-between;
        width: -webkit-fill-available;
    }
}

.logo {
    width: 120px;        
    padding: 16px;
}

.header-content {
    text-align: left;
    line-height: 1.8rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding: 24px;
    border-radius: 15px;
    color: white;
    align-items: start;
    margin: 32px 16px 0;
}

.texto_header_maior {
    font-size: 28px;
    margin-bottom: 20px;
}

.texto_header_menor {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn_header {
    display: inline-block;
    background-color: var(--cor-destaque);
    color: #0e1022;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn_header:hover {
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
}