
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0e1022;
}

.container_header {
    width: 100%;
    min-height: 100vh;
    background: url(../img/Imagem.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

header {
    width: 500px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    color: white;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 120px;
}

.navbar_header {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 20px;
    left: 10px;
}

.logo {
    width: 120px;
}

.header-content {
    text-align: left;
    margin: 15px;
    line-height: 1.8rem;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn_header {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FAA836;
    color: #0e1022;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ffcc70;
}

@media (max-width: 525px) {

    .container {
        justify-content: center;
        text-align: center;
    }

    header {
        max-width: 90%;
        padding: 10px;
        margin-top: 120px;
        background: rgba(0, 0, 0, 0.836);
    }
}