.navbar_nav {
    display: flex;
    gap: 6rem;
    padding: 16px;
}

.navbar_header_link {
    align-items: flex-start;
    text-decoration: none;
    color: #ffffff;
    font-family: var(--fonte-titulo);
    font-size: 19px;
    margin: auto;
}