@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --cor-principal: #15193E;
    --cor-principal-hover: #00042b;
    --cor-secundaria: #08695F;
    --cor-destaque: #FAA836;
    --cor-fundo: #0b1929;
    --gradiente: linear-gradient(160deg,rgba(11, 25, 41, 1) 0%, rgba(3, 11, 20, 1) 100%);
    --fonte-titulo: "Doppio One", sans-serif;
    --fonte-conteudo: "Montserrat", sans-serif;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-conteudo);
    color: white;
}

main {
    background-color:linear-gradient(160deg,rgba(8, 12, 38, 1) 0%, rgba(10, 13, 41, 1) 100%);
}

.container {
    padding: 16px 16%;
    margin: auto;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 16px 12%;
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 16px 8%;
    }
}