.form-cadastro img {
    max-height: 225px;
}

.cadastro-caixas {
    padding: 0 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.cadastro-box {
    height: auto;
}

.img-ilustracao {
    width: 3000px;
    height: auto;
}

.input-label {
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: var(--neutral-color);
    padding: 0 5px;
    font-size: 0.9rem;
    color: #333;
}

.texto-caixa {
    font-size: 0.8rem;
}

.submit-cadastro:is(:hover, :focus) {
    color: var(--highlight-color);
}

.text-white-custom-login {
    color: #000;
}

.darkmode {
    .form-label, span {
        color: var(--neutral-color);
    }

    .input-label {
        position: absolute;
        top: -10px;
        left: 15px;
        background-color: transparent;
        color: #f9f6f6;
        padding: 0 5px;
        font-size: 0.9rem;
    }

    .texto-caixa {
        background-color: #2828282d;
        border: solid #28282835;
        color: hsl(0, 4%, 80%);
    }

    .texto-caixa::placeholder {
        color: hsl(0, 4%, 80%);
    }

    .social,
    .text-white-custom {
        color: white;
    }

    .text-white-custom-login {
        color: white;
    }

    .text-white-custom-login:is(:hover, :focus) {
        color: var(--highlight-color);
    }
}

@media (max-width: 1008px) {
    .cadastro-caixas .row > div {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        width: 100%;
        margin: 0;
    }

    .texto-caixa {
        width: 100%;
    }
}