.nav-ajuda {
    .nav-link {
        color: var(--primary-color);
    }

    .nav-link.active {
        color: var(--highlight-color);
        font-weight: 600;
    }
}

.darkmode {
    .nav-ajuda .nav-link {
        border: 1px solid var(--bs-border-color);
        color: var(--neutral-color);

        &.active {
            background-color: var(--highlight-color);
        }
    }
}

.form-conteudo {
    border-left: 1px solid var(--bs-border-color);
    border-right: 1px solid var(--bs-border-color);
    border-bottom: 1px solid var(--bs-border-color);
    border-radius: 0px 0px 25px 25px;
    padding: 16px;

    .img-servico {
        max-height: 225px;
    }
}

.form-container {
    max-width: 900px;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-control,
.form-select {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

.form-label {
    font-weight: bold;
}

.form-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}



.form-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.input-group-text {
    background-color: var(--color-white);
    border: none;
    border: 2px solid var(--primary-color);
}