.login {
    img {
        max-height: 225px;
    }
}

.login-box {
    max-width: 400px;
    width: 100%;
}

.forgot-password a {
    text-decoration: none;
}

.submit-cadastro {
    text-decoration: none;
    font-weight: 450;
}

.icon-input {
    color: var(--primary-color);
}

.text-white-custom-login {
    color: #000;

    &:is(:hover, :focus) {
        color: var(--highlight-color);
    }
}

.darkmode {
    .input-label {
        position: absolute;
        top: -10px;
        left: 15px;
        background-color: transparent;
        color: var(--neutral-color);
        padding: 0 5px;
        font-size: 0.9rem;
    }

    .texto-caixa {
        background-color: var(--primary-color);
        border: solid var(--primary-color);
        color: var(--neutral-color);
    }

    .texto-caixa::placeholder {
        color: var(--neutral-color);
    }

    .social-login {
        color: var(--neutral-color);
    }

    .text-white-custom-login {
        color: var(--neutral-color);

        &:is(:hover, :focus) {
            color: var(--highlight-color);
        }
    }

    .forgot-password {
        color: var(--neutral-color) !important;
    }
}