:root {
    --primary-color: #18424B;
    --secondary-color: rgba(24, 66, 75, 0.75);
    --highlight-color: #B93800;
    --neutral-color: #F2F2F2;
    --border-radius: 24px;
    --btn-highlight-background: #B93800;
    --btn-highlight-hover: #992f02;
    --btn-primary-background: #18424B;
    --btn-primary-hover: #14363d;
    --body-darkmode-background: #383838;
    --header-footer-darkmode-background: #282828;
    --color-white: #ffffff;
}

/*#region Configurações gerais*/
body {
    font-family: "Poppins", sans-serif;

    &.darkmode {
        background-color: var(--body-darkmode-background);
        color: var(--neutral-color);

        h1,
        h2,
        h3,
        h4 {
            color: var(--neutral-color) !important;
        }

        .btn:not(.newsletter .btn, header .btn) {
            border: 1px solid var(--neutral-color);
        }
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

h2 {
    font-size: 2.25rem;
    font-weight: 800;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
}

h4 {
    font-size: 1.75rem;
    font-weight: 800;
}

.home .img-fluid {
    width: 100%;
    border-radius: 25px;
}
/*#endregion Configurações gerais*/

/*#region Botões*/
.btn {
    border-radius: var(--border-radius);
    border: none;
    padding: 8px 24px;
}

.btn-primary {
    background-color: var(--btn-primary-background);
    color: var(--neutral-color);
    font-weight: 800;

    &:is(:hover, :focus, :active) {
        background-color: var(--btn-primary-hover);
    }
}

.btn-secondary {
    color: var(--primary-color);
    font-weight: 500;
    border: 1px solid var(--primary-color);

    &:is(:hover, :focus, :active) {
        background-color: var(--primary-color);
        color: var(--neutral-color);
    }
}

.btn-highlight {
    background-color: var(--btn-highlight-background);
    color: var(--neutral-color);
    font-weight: 500;

    &:is(:hover, :focus, :active) {
        color: var(--neutral-color);
        background-color: var(--btn-highlight-hover);
    }
}

/*#endregion Botões*/

/*#region Header*/
header {
    background-color: var(--neutral-color);

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .btn-theme {
        padding: 8px 13px;
    }

    .search-bar {
        input {
            border-radius: 50px 0 0 50px;
            border: 1px solid var(--primary-color);
            border-right: none;

            &:focus {
                border-color: unset;
                outline: 0;
                box-shadow: unset;
            }
        }

        button {
            border-radius: 0 50px 50px 0;
            border: 1px solid var(--primary-color);
            border-left: navajowhite;
            background-color: var(--bs-body-bg);
        }
    }

    .navbar-brand img {
        width: 80px;
    }
}

.darkmode header {
    background-color: var(--header-footer-darkmode-background);

    .navbar-toggler {
        border-color: var(--neutral-color);

        span {
            filter: invert(1) brightness(10);
        }
    }

    .navbar .nav-link {
        color: var(--neutral-color);
    }
}

@media screen and (max-width: 991px) {
    header {
        .navbar .container-fluid {
            flex-direction: row-reverse;
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        .navbar {
            min-height: 80px;

            .nav-link {
                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 65%;
                    margin: 6px auto 0;
                    transition-timing-function: linear;
                    transition-duration: 0.3s;
                }
            }

            .nav-link:is(:hover)::after {
                background-color: var(--primary-color);
            }
        }
    }

    .darkmode header {
        .navbar .nav-link {
            &:is(:hover)::after {
                background-color: var(--neutral-color);
            }
        }
    }
}

/*#endregion Header*/

/*#region Newsletter*/
.newsletter {
    background-color: var(--primary-color);
    color: var(--neutral-color);

    input {
        border-radius: 50px;
        border: 2px solid var(--neutral-color);
        background: transparent;
        color: var(--neutral-color);
        max-width: 40rem;

        &::placeholder {
            color: var(--neutral-color);
            opacity: 0.75;
        }

        &:focus {
            background: transparent;
            color: var(--neutral-color);
            border-color: var(--highlight-color);
            box-shadow: 0 0 0 .2rem #dc354550
        }
    }
}

/*#endregion Newsletter*/

/*#region Footer*/
footer {
    background-color: var(--neutral-color);
    color: var(--primary-color);

    a {
        color: var(--primary-color);

        &:is(:hover, :focus, :active) {
            color: var(--highlight-color);
        }
    }
}

.darkmode footer {
    background-color: var(--header-footer-darkmode-background);
    color: var(--neutral-color);

    a {
        color: var(--neutral-color);

        &:is(:hover, :focus, :active) {
            color: var(--highlight-color);
        }
    }
}

/*#endregion Footer*/